<?xml version='1.0' ?>
<config>
    <modules>
        <GHA_Customer>
            <version>0.1.0</version>
        </GHA_Customer>
    </modules>
    <global>
        <blocks>
            <gha_customer>
                <class>GHA_Customer_Block</class>
            </gha_customer>
            <adminhtml>
                <rewrite>
                    <customer_grid>GHA_Customer_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
            <customer>
                <rewrite>
                    <account_navigation>GHA_Customer_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <gha_customer>
                <class>GHA_Customer_Helper</class>
            </gha_customer>
        </helpers>
        <resources>
            <gha_customer_setup>
                <setup>
                    <module>GHA_Customer</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gha_customer_setup>
            <gha_customer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gha_customer_read>
            <gha_customer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gha_customer_write>
        </resources>
    </global>
    <frontend>
        <routers>
            <gha_customer>
                <use>standard</use>
                <args>
                    <module>GHA_Customer</module>
                    <frontName>gha</frontName>
                </args>
            </gha_customer>
        </routers>
        <layout>
            <updates>
                <gha_customer>
                    <file>gha_customer.xml</file>
                </gha_customer>
            </updates>
        </layout>
        <events>
            <customer_register_success>
                <observers>
                    <gha_customer>
                        <type>singleton</type>
                        <class>GHA_Customer_Model_Observer</class>
                        <method>createVendor</method>
                    </gha_customer>
                </observers>
            </customer_register_success>
            <controller_action_layout_load_before>
                <observers>
                    <gha_customer_controller_action_layout_load_before>
                        <type>singleton</type>
                        <class>GHA_Customer_Model_Observer</class>
                        <method>addCreateSubcustomerLink</method>
                    </gha_customer_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
</config>