<?xml version="1.0"?>
<config>
    <modules>
        <Test_Test>
            <version>0.1.0</version>
        </Test_Test>
    </modules>
    <global>
        <models>
            <test_test>
                <class>Test_Test_Model</class>
                <resourceModel>test_test_resource</resourceModel>
            </test_test>
            <test_test_resource>
                <class>Test_Test_Model_Resource</class>
            </test_test_resource>
        </models>
        <blocks>
            <test_test>
                <class>Test_Test_Block</class>
            </test_test>
        </blocks>
        <helpers>
            <test_test>
                <class>Test_Test_Helper</class>
            </test_test>
        </helpers>
        <resources>
            <test_test_setup>
                <setup>
                    <module>Test_Test</module>
                </setup>
            </test_test_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <test>
                <use>standard</use>
                <args>
                    <frontName>test</frontName>
                    <module>Test_Test</module>
                </args>
            </test>
        </routers>
    </frontend>
</config>